<div class="add-container">
    <form method="post">
        <div class="mb-3">
          <label for="jenisMakanan" class="form-label">Jenis Makanan</label>
          <input type="text" class="form-control" id="jenisMakanan" name="jenis_makanan">
        </div>
        <div class="mb-3">
            <label for="hargaMakanan" class="form-label">Harga</label>
            <input type="number" class="form-control" id="hargaMakanan" name="harga">
          </div>
          <div class="mb-3">
            <label for="stokMakanan" class="form-label">Stok</label>
            <input type="number" class="form-control" id="stokMakanan" name="stok">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>