  <nav class="navbar bg-white">
    <div class="container-fluid">
      <a class="navbar-brand"><b><%=title%></b></a>
      <div class="d-flex dropdown">
        <a class="nav-link dropdown-toggle role" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../img/profile.svg" class="me-1" alt=""> Admin
        </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item logout" href="/logout">Logout</a></li>
          </ul>
      </div>
    </div>
  </nav>