<div class="sidebar open">
    <div class="logo-details">
        <img src="../../img/brand.svg" width="175px" alt="">
    </div>
    <ul class="nav-list">
      <li>
        <a href="/">
          <img src="../../img/dashboard.svg" class="dashboard" alt="">
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
       <a href="/transaction">
        <img src="../../img/transaction.svg" class="transaction" alt="">
        <span class="links_name">Transaksi</span>
       </a>
       <span class="tooltip">Transaksi</span>
     </li>
     <li>
       <a href="/inventory">
        <img src="../../img/inventory.svg" class="inventory" alt="">
        <span class="links_name">Gudang</span>
       </a>
       <span class="tooltip">Gudang</span>
     </li>
     <li>
       <a href="/report">
        <img src="../../img/report.svg" class="report" alt="">
        <span class="links_name">Laporan</span>
       </a>
       <span class="tooltip">Laporan</span>
     </li>
     <li>
      <a href="/delivery">
       <img src="../../img/ongkir.svg" class="delivery" alt="">
       <span class="links_name">Cek Ongkir</span>
      </a>
      <span class="tooltip">Cek Ongkir</span>
    </li>
     <li class="profile">
         <div class="profile-details">
           <!--<img src="profile.jpg" alt="profileImg">-->
             <div class="name">YummyCo App © 2022</div>
             <div class="job">Reymunda Dwi Alfathur <br> 10120762 <br> Kelas IF9</div>
         </div>
     </li>
    </ul>
  </div>

